[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[core]
	editor = vim
[alias]
	show-graph = log --graph --abbrev-commit --pretty=oneline --all
[user]
	name = beans15
	email = beans15@dummy.com
